In [1]:
import pandas as pd
import os

# get the parent directory
parent_dir = os.path.dirname(os.getcwd())

# replace \ with / for windows
parent_dir = parent_dir.replace('\\', '/')

dir = parent_dir + '/merged/'

print(dir)

c:/Users/Stone/Downloads/iot_23/merged/

In [2]:
# read all the csv files in the directory
files = os.listdir(dir)

# print the file names with their index and size
for i in range(len(files)):
    print(i, files[i], os.path.getsize(dir + files[i]))

0 merged.csv 7335091180

In [3]:
df_list = []

# read all the csv files in the directory
for file in files:
    df = pd.read_csv(dir + file, dtype='str')
    df_list.append(df)

# concatenate all the dataframes
df = pd.concat(df_list)

# print the count of each unique value in the label column
print(df['label'].value_counts())

mirai        52175016
0            21094769
okiru        13642434
hajime        6355745
hideNseek      539472
muhstik        151566
hakai            8222
torii              30
trojan              5
Name: label, dtype: int64

In [4]:
# print the number of values that is '-' in each column
print((df == '-').sum())

id.orig_h               0
id.orig_p               0
id.resp_h               0
id.resp_p               0
proto                   0
service          93948574
duration         88145743
orig_bytes       88145743
resp_bytes       88145743
conn_state              0
local_orig       93967259
local_resp       93967259
missed_bytes            0
history             23941
orig_pkts               0
orig_ip_bytes           0
resp_pkts               0
resp_ip_bytes           0
label                   0
dtype: int64

In [5]:
df = df.drop(['service', 'duration', 'orig_bytes', 'resp_bytes', 'local_orig', 'local_resp'], axis=1)

In [6]:
# print the number of values that is '0' in each column
print((df == '0').sum())

id.orig_h               0
id.orig_p             138
id.resp_h               0
id.resp_p            5895
proto                   0
conn_state              0
missed_bytes     93967207
history                 0
orig_pkts           14364
orig_ip_bytes       14364
resp_pkts        93914501
resp_ip_bytes    93914501
label            21094769
dtype: int64

In [7]:
df = df.drop(['missed_bytes', 'resp_pkts', 'resp_ip_bytes'], axis=1)

In [8]:
df.head()

,id.orig_h,id.orig_p,id.resp_h,id.resp_p,proto,conn_state,history,orig_pkts,orig_ip_bytes,label
0,192.168.100.102,57849,192.168.100.111,22,tcp,OTH,DAd,5,332,0
1,192.168.100.102,59670,192.168.100.111,22,tcp,S0,SAD,3,189,0
2,192.168.100.102,59701,192.168.100.111,22,tcp,S0,SAD,3,189,0
3,192.168.100.111,36199,192.168.100.1,53,udp,S0,D,1,58,0
4,192.168.100.111,48089,192.168.100.1,53,udp,S0,D,1,58,0

In [9]:
# save the dataframe to a csv file
out_dir = parent_dir + '/cleaned'
df.to_csv(out_dir + '/cleaned.csv', index=False)