In [1]:
import pandas as pd
import os

# get the parent directory
parent_dir = os.path.dirname(os.getcwd())

# replace \ with / for windows
parent_dir = parent_dir.replace('\\', '/')

dir = parent_dir + '/features/'

print(dir)

# read all the csv files in the directory
files = os.listdir(dir)

c:/Users/Stone/Downloads/iot_23/features/

In [2]:
# read all the files in the directory
files = os.listdir(dir)

# print the file names with their index and size
for i in range(len(files)):
    print(i, files[i], os.path.getsize(dir + files[i]))

0 Attack_features.parquet 51317
1 Attack_long_features.parquet 5594
2 benign_features.parquet 102971396
3 benign_long_features.parquet 445756
4 CnC_features.parquet 49288
5 CnC_long_features.parquet 15738
6 DDoS_features.parquet 53052636
7 DDoS_long_features.parquet 6919
8 Download_features.parquet 8983
9 Download_long_features.parquet 1828
10 Okiru_1_features.parquet 102224916
11 Okiru_1_long_features.parquet 34836
12 PortScan_1_features.parquet 87505926
13 PortScan_1_long_features.parquet 58814

In [3]:
df_list = []

# read all the csv files in the directory
for file in files:
    # if file name does not contain the word 'long'
    if 'long' not in file:
        # read the parquet file
        df = pd.read_parquet(dir + file)
        # append the dataframe to the list
        df_list.append(df)

df = pd.concat(df_list, axis=0)

print(df.shape)
df.head()

(102346934, 14)

,id.orig_h_1,id.orig_h_2,id.orig_h_3,id.orig_h_4,id.resp_h_1,id.resp_h_2,id.resp_h_3,id.resp_h_4,id.orig_p,id.resp_p,proto,orig_pkts,orig_ip_bytes,label
0,192,168,1,194,200,105,165,41,reg,wk,tcp,7,1774,Attack
1,192,168,1,194,200,105,165,41,reg,wk,tcp,7,1774,Attack
2,192,168,1,194,45,76,233,109,reg,wk,tcp,15,2578,Attack
3,192,168,1,194,45,76,233,109,reg,wk,tcp,15,2514,Attack
4,192,168,1,194,162,144,39,115,reg,wk,tcp,16,2986,Attack

In [4]:
# check the nan values in df
print(df.isnull().sum())

id.orig_h_1      0
id.orig_h_2      0
id.orig_h_3      0
id.orig_h_4      0
id.resp_h_1      0
id.resp_h_2      0
id.resp_h_3      0
id.resp_h_4      0
id.orig_p        0
id.resp_p        0
proto            0
orig_pkts        0
orig_ip_bytes    0
label            0
dtype: int64

In [9]:
category_cols = ['id.orig_p', 'id.resp_p', 'proto', 'conn_state', 'history']

# one hot encode the categorical columns
df = pd.get_dummies(df, columns=category_cols)

df.head()

,id.orig_h_1,id.orig_h_2,id.orig_h_3,id.orig_h_4,id.resp_h_1,id.resp_h_2,id.resp_h_3,id.resp_h_4,orig_pkts,orig_ip_bytes,...,conn_state_S0,conn_state_SH,history_-,history_S,history_a,history_c,history_d,history_f,history_h,history_r
0,192,168,100,102,192,168,100,111,5,332,...,0,0,0,0,0,0,1,0,0,0
1,192,168,100,102,192,168,100,111,3,189,...,1,0,0,0,0,0,1,0,0,0
2,192,168,100,102,192,168,100,111,3,189,...,1,0,0,0,0,0,1,0,0,0
3,192,168,100,111,192,168,100,1,1,58,...,1,0,0,0,0,0,1,0,0,0
4,192,168,100,111,192,168,100,1,1,58,...,1,0,0,0,0,0,1,0,0,0

In [10]:
df.columns

Index(['id.orig_h_1', 'id.orig_h_2', 'id.orig_h_3', 'id.orig_h_4',
       'id.resp_h_1', 'id.resp_h_2', 'id.resp_h_3', 'id.resp_h_4', 'orig_pkts',
       'orig_ip_bytes', 'label', 'id.orig_p_dyn', 'id.orig_p_reg',
       'id.orig_p_wk', 'id.resp_p_dyn', 'id.resp_p_reg', 'id.resp_p_wk',
       'proto_icmp', 'proto_tcp', 'proto_udp', 'conn_state_OTH',
       'conn_state_REJ', 'conn_state_RST', 'conn_state_S', 'conn_state_S0',
       'conn_state_SH', 'history_-', 'history_S', 'history_a', 'history_c',
       'history_d', 'history_f', 'history_h', 'history_r'],
      dtype='object')

In [11]:
df.shape

(61364183, 34)

In [12]:
# print the value count in the label column
print(df['label'].value_counts())

mirai        26087508
0            21094769
okiru        13642434
hideNseek      539472
Name: label, dtype: int64

In [13]:
# in the label column change mirai to 1, okiru to 2, hideNseek to 3
df.loc[df['label'] == 'mirai'] = 1
df.loc[df['label'] == 'okiru'] = 2
df.loc[df['label'] == 'hideNseek'] = 3

print(df['label'].value_counts())

1    26087508
0    21094769
2    13642434
3      539472
Name: label, dtype: int64

In [14]:
# change all columns to numeric
df = df.apply(pd.to_numeric)

# print the data types of all the columns
print(df.dtypes)

id.orig_h_1       int64
id.orig_h_2       int64
id.orig_h_3       int64
id.orig_h_4       int64
id.resp_h_1       int64
id.resp_h_2       int64
id.resp_h_3       int64
id.resp_h_4       int64
orig_pkts         int64
orig_ip_bytes     int64
label             int64
id.orig_p_dyn     uint8
id.orig_p_reg     uint8
id.orig_p_wk      uint8
id.resp_p_dyn     uint8
id.resp_p_reg     uint8
id.resp_p_wk      uint8
proto_icmp        uint8
proto_tcp         uint8
proto_udp         uint8
conn_state_OTH    uint8
conn_state_REJ    uint8
conn_state_RST    uint8
conn_state_S      uint8
conn_state_S0     uint8
conn_state_SH     uint8
history_-         uint8
history_S         uint8
history_a         uint8
history_c         uint8
history_d         uint8
history_f         uint8
history_h         uint8
history_r         uint8
dtype: object

In [15]:
out_dir = parent_dir + '/encoded/'

df.to_csv(out_dir + 'encoded.csv', index=False)