In [21]:
import os
import pandas as pd

dir = os.path.realpath('..').replace('\\', '/')

file_dir = dir + '/data/'

print(file_dir)

C:/Users/Stone/Downloads/iot_23_datasets_full/data/

In [2]:
# read df_malicious in chunks chunksize is the number of rows in df_beign
df_malicious = pd.read_csv(file_dir + 'df_malicious.csv', chunksize=len(df_benign))

In [3]:
# create a list of dataframes
df_malicious_list = []

# append each chunk to the list
for chunk in df_malicious:
    df_malicious_list.append(chunk)

C:\Users\Stone\AppData\Local\Temp\ipykernel_6600\2621040351.py:5: DtypeWarning: Columns (8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in df_malicious:
C:\Users\Stone\AppData\Local\Temp\ipykernel_6600\2621040351.py:5: DtypeWarning: Columns (8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in df_malicious:
C:\Users\Stone\AppData\Local\Temp\ipykernel_6600\2621040351.py:5: DtypeWarning: Columns (8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in df_malicious:
C:\Users\Stone\AppData\Local\Temp\ipykernel_6600\2621040351.py:5: DtypeWarning: Columns (8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in df_malicious:
C:\Users\Stone\AppData\Local\Temp\ipykernel_6600\2621040351.py:5: DtypeWarning: Columns (8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in df_malicious:
C:\Users\Stone\AppData\Local\Temp\ipykernel_6600\2621040351.py:5: DtypeWarning: Columns (8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in df_malicious:
C:\Users\Stone\AppData\Local\Temp\ipykernel_6600\2621040351.py:5: DtypeWarning: Columns (8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in df_malicious:

In [4]:
df_malware = df_malicious_list[0]

In [5]:
# save df_malware to csv
df_malware.to_csv(file_dir + 'df_mal_0.csv', index=False)

In [8]:
print(len(df_malicious_list))

13

In [10]:
df_benign.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11217656 entries, 0 to 11217655
Data columns (total 22 columns):
 #   Column          Dtype
---  ------          -----
 0   time            float64
 1   string          object
 2   addr            object
 3   port            float64
 4   addr.1          object
 5   port.1          float64
 6   enum            object
 7   string.1        object
 8   interval        object
 9   count           object
 10  count.1         object
 11  string.2        object
 12  bool            object
 13  bool.1          object
 14  count.2         float64
 15  string.3        object
 16  count.3         float64
 17  count.4         float64
 18  count.5         float64
 19  count.6         float64
 20  tunnel_parents  object
 21  target          int64
dtypes: float64(8), int64(1), object(13)
memory usage: 1.8+ GB

In [11]:
def dtype_split(df):
    '''
    This function splits a dataframe into two dataframes based on the dtype of the columns.
    '''
    df_num = df.select_dtypes(include=['int64', 'float64'])
    df_cat = df.select_dtypes(include=['object'])
    return df_num, df_cat

In [13]:
dtype_split(df_benign)[1].head()

,string,addr,addr.1,enum,string.1,interval,count,count.1,string.2,bool,bool.1,string.3,tunnel_parents
0,CfHl9r3XMYtDQRrHnh,192.168.100.103,147.7.65.203,tcp,-,2.998804,0,0,S0,-,-,S,(empty)
1,C7USrA15nFVkniMqC5,192.168.100.103,145.164.35.6,tcp,-,-,-,-,S0,-,-,S,(empty)
2,C3ajsm4byxMkPys9Wa,192.168.100.103,147.7.65.203,tcp,-,-,-,-,S0,-,-,S,(empty)
3,Cahg1h1asfICn0Hp5l,192.168.100.103,147.7.65.203,tcp,-,-,-,-,S0,-,-,S,(empty)
4,ChQ6aR2J1wAhkqaml8,192.168.100.103,197.224.138.9,tcp,-,2.998560,0,0,S0,-,-,S,(empty)

In [ ]:
df_cat = dtype_split(df_benign)[1]

df_ip = df_cat[['addr', 'addr.1']]

df_ip.head()

In [ ]:
def to_numeric(df):
    '''
    This function converts the columns of a dataframe to numeric.
    '''
    df_num, df_cat = dtype_split(df)[0], dtype_split(df)[1]

    df_ip = df_cat[['addr', 'addr.1']]
    return df