In [50]:
import os
import pandas as pd

dir = os.path.realpath('..').replace('\\', '/')

file_dir = dir + '/iot_23_datasets_full/data/'

print(file_dir)

C:/Users/Stone/Downloads/iot_23_datasets_full/data/

In [51]:
df_benign = pd.read_csv(file_dir + 'df_benign.csv')
df_malicious = pd.read_csv(file_dir + 'df_mal_0.csv')

C:\Users\Stone\AppData\Local\Temp\ipykernel_13720\2761356694.py:2: DtypeWarning: Columns (8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_malicious = pd.read_csv(file_dir + 'df_mal_0.csv')

In [52]:
print(df_benign.shape)
print(df_malicious.shape)

(11217656, 22)
(11217656, 22)

In [53]:
# concatenate the two dataframes
df = pd.concat([df_benign, df_malicious], ignore_index=True)

df.shape

(22435312, 22)

In [54]:
def dtype_split(df):
    '''
    This function splits a dataframe into two dataframes based on the dtype of the columns.
    '''
    df_num = df.select_dtypes(include=['int64', 'float64'])
    df_cat = df.select_dtypes(include=['object'])
    return df_num, df_cat

In [55]:
import ipaddress

# def encoding(df):
#     '''
#     This function converts the columns of a dataframe to numeric.
#     '''
#     df_num, df_cat = dtype_split(df)[0], dtype_split(df)[1]

#     # remove 'string' column
#     df_cat.drop('string', axis=1, inplace=True)

#     df_ip = df_cat[['addr', 'addr.1']]

#     # fill NaN values with 0 in df_ip
#     df_ip.fillna(0, inplace=True)

#     # convert ip address to integer
#     df_ip['addr'] = df_ip['addr'].apply(lambda x: int(ipaddress.ip_address(x)))
#     df_ip['addr.1'] = df_ip['addr.1'].apply(lambda x: int(ipaddress.ip_address(x)))

#     # convert df_ip to numeric
#     df_ip = df_ip.apply(pd.to_numeric)

#     # add df_ip to df_num
#     df_num = pd.concat([df_num, df_ip], axis=1)

#     # replce '-' with 0 in 'interval' column
#     df_cat['interval'] = df_cat['interval'].apply(lambda x: 0 if x == '-' else x)

#     # add 'interval' column to df_num
#     df_num['interval'] = df_cat['interval']

#     # drop 'interval' column from df_cat
#     df_cat.drop('interval', axis=1, inplace=True)

#     # replce '-' with -1 in df_count
#     df_cat['count'] = df_cat['count'].apply(lambda x: -1 if x == '-' else x)
#     df_cat['count.1'] = df_cat['count.1'].apply(lambda x: -1 if x == '-' else x)

#     df_count = df_cat[['count', 'count.1']]

#     # convert df_count to numeric
#     df_count = df_count.apply(pd.to_numeric)

#     # add df_count to df_num
#     df_num = pd.concat([df_num, df_count], axis=1)

#     # drop 'count' and 'count.1' columns from df_cat
#     df_cat.drop(['count', 'count.1'], axis=1, inplace=True)

#     # drop 'bool', and 'bool.1' columns from df_cat
#     df_cat.drop(['bool', 'bool.1'], axis=1, inplace=True)

#     df_cat['string.3'] = df_cat['string.3'].apply(lambda x: 'ShA' if 'ShA' in x else x)
#     df_cat['string.3'] = df_cat['string.3'].apply(lambda x: '^' if '^' in x else x)
#     df_cat['string.3'] = df_cat['string.3'].apply(lambda x: 'Ha' if 'Ha' in x else x)
#     df_cat['string.3'] = df_cat['string.3'].apply(lambda x: 'Dd' if 'Dd' in x else x)

#     values = df_cat['string.3'].value_counts()
#     df_cat['string.3'] = df_cat['string.3'].apply(lambda x: 'other' if x not in values.head(9).index else x)

#     # one hot encode df_cat 
#     df_cat = pd.get_dummies(df_cat)

#     # drop 'enum_udp', 'string.1_ssl', 'string.2_SHR', 'string.3_other', 'tunnel_parents_COLnd035cNITygYHp3' columns from df_cat
#     df_cat.drop(['enum_udp', 'string.1_ssl', 'string.2_SHR', 'string.3_other', 'tunnel_parents_COLnd035cNITygYHp3'], axis=1, inplace=True)

#     # horizontal concat df_num and df_cat
#     df = pd.concat([df_num, df_cat], axis=1)

#     return df

In [56]:
df_num, df_cat = dtype_split(df)[0], dtype_split(df)[1]

df_ip = df_cat[['addr', 'addr.1']]

df_ip.head()

              addr         addr.1
0  192.168.100.103   147.7.65.203
1  192.168.100.103   145.164.35.6
2  192.168.100.103   147.7.65.203
3  192.168.100.103   147.7.65.203
4  192.168.100.103  197.224.138.9

In [57]:
df_cat.drop(['addr', 'addr.1'], axis=1, inplace=True)

import ipaddress

# fill NaN values with 0 in df_ip
df_ip.fillna(0, inplace=True)

# convert ip address to integer
df_ip['addr'] = df_ip['addr'].apply(lambda x: int(ipaddress.ip_address(x)))
df_ip['addr.1'] = df_ip['addr.1'].apply(lambda x: int(ipaddress.ip_address(x)))

C:\Users\Stone\AppData\Local\Temp\ipykernel_13720\980977514.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ip.fillna(0, inplace=True)
C:\Users\Stone\AppData\Local\Temp\ipykernel_13720\980977514.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ip['addr'] = df_ip['addr'].apply(lambda x: int(ipaddress.ip_address(x)))
C:\Users\Stone\AppData\Local\Temp\ipykernel_13720\980977514.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ip['addr.1'] = df_ip['addr.1'].apply(lambda x: int(ipaddress.ip_address(x)))

In [58]:
# convert df_ip to numeric  
df_ip = df_ip.apply(pd.to_numeric)

In [59]:
# add df_ip to df_num
df_num = pd.concat([df_num, df_ip], axis=1)

In [60]:
# remove 'string' column
df_cat.drop('string', axis=1, inplace=True)

In [61]:
# replce '-' with 0 in 'interval' column
df_cat['interval'] = df_cat['interval'].apply(lambda x: 0 if x == '-' else x)

df_cat['interval'].value_counts()

0           7367925
2e-06       6181983
5e-06       2011347
1e-06       1563181
4e-06        367784
             ...
1.013681          1
1.013446          1
1.013425          1
1.013143          1
3.084771          1
Name: interval, Length: 110638, dtype: int64

In [62]:
# add 'interval' column to df_num
df_num['interval'] = df_cat['interval']

# drop 'interval' column from df_cat
df_cat.drop('interval', axis=1, inplace=True)

df_cat.head()

  enum string.1 count count.1 string.2 bool bool.1 string.3 tunnel_parents
0  tcp        -     0       0       S0    -      -        S        (empty)
1  tcp        -     -       -       S0    -      -        S        (empty)
2  tcp        -     -       -       S0    -      -        S        (empty)
3  tcp        -     -       -       S0    -      -        S        (empty)
4  tcp        -     0       0       S0    -      -        S        (empty)

In [63]:
# replce '-' with -1 in df_count
df_cat['count'] = df_cat['count'].apply(lambda x: -1 if x == '-' else x)
df_cat['count.1'] = df_cat['count.1'].apply(lambda x: -1 if x == '-' else x)

df_count = df_cat[['count', 'count.1']]

df_count.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22435312 entries, 0 to 22435311
Data columns (total 2 columns):
 #   Column   Dtype
---  ------   -----
 0   count    object
 1   count.1  object
dtypes: object(2)
memory usage: 342.3+ MB

In [64]:
# convert df_count to numeric
df_count = df_count.apply(pd.to_numeric)

# add df_count to df_num
df_num = pd.concat([df_num, df_count], axis=1)

# drop 'count' and 'count.1' columns from df_cat
df_cat.drop(['count', 'count.1'], axis=1, inplace=True)

In [65]:
# drop 'bool', and 'bool.1' columns from df_cat
df_cat.drop(['bool', 'bool.1'], axis=1, inplace=True)

df_cat.head()

  enum string.1 string.2 string.3 tunnel_parents
0  tcp        -       S0        S        (empty)
1  tcp        -       S0        S        (empty)
2  tcp        -       S0        S        (empty)
3  tcp        -       S0        S        (empty)
4  tcp        -       S0        S        (empty)

In [66]:
# in 'string.3' column if value contains 'ShA' then replace with 'ShA'
df_cat['string.3'] = df_cat['string.3'].apply(lambda x: 'ShA' if 'ShA' in x else x)
df_cat['string.3'] = df_cat['string.3'].apply(lambda x: '^' if '^' in x else x)
df_cat['string.3'] = df_cat['string.3'].apply(lambda x: 'Ha' if 'Ha' in x else x)
df_cat['string.3'] = df_cat['string.3'].apply(lambda x: 'Dd' if 'Dd' in x else x)


values = df_cat['string.3'].value_counts()
df_cat['string.3'] = df_cat['string.3'].apply(lambda x: 'other' if x not in values.head(9).index else x)

print(values.head(10))

S      21826042
D        494751
-         45358
Dd        28138
Sr        22020
ShA       11363
^          3055
R          3001
ShR        1088
F           196
Name: string.3, dtype: int64

In [67]:
# for all values in 'string.3' that are not in the top 9 replace with 'other'
df_cat['string.3'] = df_cat['string.3'].apply(lambda x: 'other' if x not in values.head(9).index else x)

df_cat['string.3'].value_counts()

S        21826042
D          494751
-           45358
Dd          28138
Sr          22020
ShA         11363
^            3055
R            3001
ShR          1088
other         496
Name: string.3, dtype: int64

In [68]:
pd.get_dummies(df_cat).columns

Index(['enum_icmp', 'enum_tcp', 'enum_udp', 'string.1_-', 'string.1_dhcp',
       'string.1_dns', 'string.1_http', 'string.1_ssh', 'string.1_ssl',
       'string.2_OTH', 'string.2_REJ', 'string.2_RSTO', 'string.2_RSTOS0',
       'string.2_RSTR', 'string.2_RSTRH', 'string.2_S0', 'string.2_S1',
       'string.2_S2', 'string.2_S3', 'string.2_SF', 'string.2_SH',
       'string.2_SHR', 'string.3_-', 'string.3_D', 'string.3_Dd', 'string.3_R',
       'string.3_S', 'string.3_ShA', 'string.3_ShR', 'string.3_Sr',
       'string.3_^', 'string.3_other', 'tunnel_parents_(empty)',
       'tunnel_parents_-', 'tunnel_parents_CARhxZ3hLNVO3xYFok',
       'tunnel_parents_COLnd035cNITygYHp3'],
      dtype='object')

In [69]:
# one hot encode df_cat 
df_cat = pd.get_dummies(df_cat)

# drop 'enum_udp', 'string.1_ssl', 'string.2_SHR', 'string.3_other', 'tunnel_parents_COLnd035cNITygYHp3' columns from df_cat
df_cat.drop(['enum_udp', 'string.1_-', 'string.2_SHR', 'string.3_other', 'tunnel_parents_(empty)'], axis=1, inplace=True)

In [70]:
# horizontal concat df_num and df_cat
df = pd.concat([df_num, df_cat], axis=1)

In [71]:
# split df into df_positive and df_negative based on 'target' column
df_positive = df[df['target'] == 1]
df_negative = df[df['target'] == 0]

print(df_positive.shape)
print(df_negative.shape)

(11217656, 45)
(11217656, 45)

In [72]:
# save df_positive and df_negative to csv
df_positive.to_csv('df_positive.csv', index=False)
df_negative.to_csv('df_negative.csv', index=False)